<template>
  <div>
    <div class="container">
      <template v-for="article in articles">
        <div
          v-if="article.type !== 'short'"
          :key="article.id"
          class="block-article"
          :style="{ 'background-image': 'url(' + article.preview + ')' }"
        >
          <span> {{ article.title }}</span>
          <p>{{ article.short_description }}</p>
          <div class="back" />
        </div>
        <div v-else :key="'short' + article.id" class="block-short">
          <div v-for="slot in article.data" class="pick" :key="slot.id">
            <span>{{ slot.title }}</span>
            <p>{{ $moment(slot.date).fromNow() }}</p>
          </div>
        </div>
      </template>
      <div class="background">
        <img src="@/assets/img/backgroung.png" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      articles: [
        {
          title: "Alone",
          date: "2019-11-30 11:11:11",
          short_description:
            "Игра, которая была выбрана в качестве курсовой работы для 1 курса. Брошена.",
          id: 1,
          type: "info",
          preview:
            "https://static.wixstatic.com/media/fa47b9_c4227bb6543c4f0099482f0d08c67647~mv2.png/v1/fill/w_466,h_282,al_c,q_80,usm_0.66_1.00_0.01/fa47b9_c4227bb6543c4f0099482f0d08c67647~mv2.png"
        },
        {
          title: "Jcfest",
          date: "2019-11-29 19:11:11",
          short_description: "Заглавный сайт для фестивалей jochCalliano.",
          id: 2,
          type: "info",
          preview:
            "https://static.wixstatic.com/media/fa47b9_f3cc683823e444759be7eb596e5406f8~mv2.png/v1/fill/w_466,h_285,al_c,q_80,usm_0.66_1.00_0.01/fa47b9_f3cc683823e444759be7eb596e5406f8~mv2.png"
        },
        {
          title: "Марк",
          date: "2019-11-25 23:11:11",
          short_description:
            "Образовательный проект, который был создан для Школы Программистов.",
          id: 5,
          type: "info",
          preview:
            "https://static.wixstatic.com/media/fa47b9_daae0495cefd40138a93e99260024bc4~mv2.png/v1/fill/w_466,h_343,al_c,q_80,usm_0.66_1.00_0.01/fa47b9_daae0495cefd40138a93e99260024bc4~mv2.png"
        },
        {
          title: "Crimed Noir",
          date: "2019-11-26 20:11:11",
          short_description:
            "Мини-игра, которая заморожена. Нуар детектив с элементами экшн и point-to-click.",
          id: 4,
          type: "info",
          preview:
            "https://static.wixstatic.com/media/fa47b9_07f9b2dc22f54ebdb967fdc8cc02c62c~mv2.jpg/v1/fill/w_466,h_262,al_c,q_80,usm_0.66_1.00_0.01/fa47b9_07f9b2dc22f54ebdb967fdc8cc02c62c~mv2.jpg"
        },
        {
          title: "Cold Water",
          date: "2019-11-25 23:11:11",
          short_description:
            "Игра, которая была создана на Ludum Dare (хакатон) в команде из 4 человек.",
          id: 5,
          type: "info",
          preview:
            "https://static.wixstatic.com/media/fa47b9_10782b1652f441c39d5867a4decc96d1~mv2.png/v1/fill/w_466,h_290,al_c,q_80,usm_0.66_1.00_0.01/fa47b9_10782b1652f441c39d5867a4decc96d1~mv2.png"
        }
      ]
    };
  },
  components: {}
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  border-radius: 12px;
  margin: auto;
  background-color: #fff;
  justify-content: center;
  margin-top: $top-menu;
  padding: 1em 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  .block-article {
    color: #fff;
    width: calc(50% - 1em);
    background-size: cover;
    background-position: center;
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    border-radius: 12px;
    height: 23em;
    color: #fff;
    span {
      margin-top: auto;
      font-size: 2em;
      font-weight: 600;
      @media (max-width: $medium-bp) {
        font-size: 1em;
      }
    }
    span,
    p,
    .date {
      z-index: 2;
    }
    p {
      @media (max-width: $medium-bp) {
        font-size: 0.7em;
      }
    }
    .date {
      font-weight: 200;
      @media (max-width: $medium-bp) {
        font-size: 0.5em;
      }
    }
    .back {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 1;
      width: calc(50% - 7em);
      height: 23em;
      margin: -1em;
      border-radius: 12px;
    }
    &:nth-last-child(2) {
      width: calc(100%);
      .back {
        @media (min-width: $medium-bp) {
          width: calc(100% - 13em);
        }
      }
    }
  }
  .block-short {
    color: #000;
    background-color: #fff;
    justify-content: space-between;
    width: calc(50% - 1em);
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 12px;
    height: 23em;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    .pick:not(:last-child) {
      margin-bottom: 0.5em;
      border-bottom: 1px solid;
      border-color: rgba(0, 0, 0, 0.2);
    }
    span {
      @media (max-width: $medium-bp) {
        font-size: 0.6em;
      }
      p {
        @media (max-width: $medium-bp) {
          font-size: 0.5em;
        }
      }
    }
    .pick {
      p {
        font-weight: 300;
        color: grey;
        font-size: 0.825em;
        margin-top: 0.5em;
        margin-bottom: 1em;
      }
    }
  }
  @media (max-width: $medium-bp) {
    padding: 0.5em 0.2em;
    max-width: 16em;
    .block-article {
      width: 100%;
      margin: 0;
      margin-top: 1em;
      .back {
        width: calc(15.6em);
        &:nth-last-child(2) {
          width: calc(15.6em) !important;
        }
      }
    }
    .block-short {
      width: calc(100%);
    }
  }
}
.background {
  opacity: 0.09;
  height: 100vh;
  left: -4em;
  position: fixed;
  z-index: -1;
  top: 0;
  left: -1em;
  img {
    height: 100vh;
  }
}
</style>
