<template>
  <div>
    <div class="container">
      <h2 style="margin-bottom:1em;">
        Обо мне
      </h2>
      <img
        src="https://static.wixstatic.com/media/bfdf85_f840a5e6be20475e84e239a74834d295.jpg/v1/fill/w_319,h_319,al_c,lg_1,q_80/bfdf85_f840a5e6be20475e84e239a74834d295.webp"
      />
      <div style="width:400px;margin-top:2em;">
        Обо мне Студент 3 курса ВШЭ ФКН. Работаю Front-end разработчиком, имею
        опыт в мобильной и геймдев разработке. Основные положительные качества:
        целеустремленность, быстрая адаптация и обучаемость, разносторонность.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  components: {}
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  border-radius: 12px;
  margin: auto;
  background-color: #fff;
  justify-content: center;
  margin-top: $top-menu;
  padding: 1em 2em;
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img {
  width: 300px;
}
</style>
